# Database
DATABASE_URL="postgresql://username:password@localhost:5432/stock_bundler?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# Alpha Vantage API
ALPHA_VANTAGE_API_KEY="your-alpha-vantage-api-key"

# Optional: For production
# NODE_ENV="production"
